@model NoteMarketPlace.Models.User
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/WithoutHeader.cshtml";
}

<!-- Forgot Password Page -->
<section id="background">
    <div id="forgotpass-page" class="container">

        <!-- Logo -->
        <div class="row justify-content-center">
            <div id="forgotpasswordlogo" class="text-cente">
                <img src="/Content/img/pre-login/top-logo.png" class="img-fluid" alt="Loin">
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-xl-8 col-12 col-md-12 col-sm-11 col-lg-9 ">
                <div id="forgotpass-form">

                    <!-- Heading -->
                    <div id="forgotpass-head" class="text-center">
                        <h2>Forgot Password?</h2>
                        <p>Enter your email address to reset your password</p>
                    </div>
                    <div class="text-center">
                        @if (@ViewBag.isAuth)
                        {
                            <p class="text-success"><span><i class="fa fa-check-circle"></i>Your newly generated password is sent on your registered email address.</span></p>
                        }
                    </div>
                    <!-- Form -->
                    <form method="post">
                        <!-- Email -->
                        <div class="form-group">
                            <label class="mylabel" for="InputEmail1">Email</label>
                            @*<input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email Address">*@
                            @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", @id = "InputEmail1", @placeholder = "Enter your Email Address" })

                        </div>
                        <!--Button -->
                        <button type="submit" class="btn text-center" id="mybtn"><b>SUBMIT</b></button>
                    </form>
                    <p class="text-center mytext"><span>@Html.ActionLink("Log In", "LogIn")</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Forgot Password Page -->